#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Printables
Exec=/usr/bin/chromium --profile-directory=Default --app-id=bdjlnebkmccilpgooljkggjikldjpjom
Icon=chrome-bdjlnebkmccilpgooljkggjikldjpjom-Default
StartupWMClass=crx_bdjlnebkmccilpgooljkggjikldjpjom
